<!DOCTYPE HTML>

<html>

<head>
  <font color='white'>

  <title> Checkpoint Sales </title> 
</head>
<center>

<body background="http://www.twitterevolutions.com/bgs/ribbon-simple-dark-twitter-background.jpg">

<h1>Checkpoint Sales</h1>

<p>Esta aplicacion te ayudara dejarle saber a los demas en que parte del recinto te encuentras<br>
  para poder vender tu mercancia
</p>
<p>Suscribete a nuestro newsletter</p>

Email: <input type="text" ng-model="name"><br>
<input type="submit" ng-click="add()" value="Submit">

<p><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es-419&amp;geocode=&amp;q=upr+rio+piedras&amp;aq=&amp;sll=19.362976,-67.884521&amp;sspn=5.625985,10.821533&amp;t=h&amp;ie=UTF8&amp;hq=upr&amp;hnear=R%C3%ADo+Piedras,+San+Juan,+Puerto+Rico&amp;ll=18.4027,-66.05021&amp;spn=0.007147,0.006295&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=es-419&amp;geocode=&amp;q=upr+rio+piedras&amp;aq=&amp;sll=19.362976,-67.884521&amp;sspn=5.625985,10.821533&amp;t=h&amp;ie=UTF8&amp;hq=upr&amp;hnear=R%C3%ADo+Piedras,+San+Juan,+Puerto+Rico&amp;ll=18.4027,-66.05021&amp;spn=0.007147,0.006295" style="color:#0000FF;text-align:left">Ver mapa mas grande</a></small></p>

<a href="http://s123.photobucket.com/user/chr_flashlz/media/lazycarpetLOGO2.png.html" target="_blank"><img src="http://i123.photobucket.com/albums/o312/chr_flashlz/th_lazycarpetLOGO2.png" border="0" alt=" photo lazycarpetLOGO2.png"></a>
</center>

</body>



</html>
